<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <script src="./javascripts/jsbn.js"></script>
    <script src="./javascripts/jsbn2.js"></script>
    <script src="./javascripts/sjcl.js"></script>
    <script src="./javascripts/aws-cognito-sdk.min.js"></script>
    <script src="./javascripts/amazon-cognito-identity.min.js"></script>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Z<span>atta</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="username" id="user"><br>
        <input type="password" placeholder="password" id="password"><br>
        <input type="button" id="login" value="Login">

    </div>
    <div class="signup">
        <input type="button" id="signup" onclick="location.href='/signup'" value="新規登録">
    </div>
    <script>

        document.getElementById("login").onclick = function () {
            const userdata = document.getElementById("user").value;
            const passdata = document.getElementById("password").value;
            const json = {
                "username": userdata,
                "password": passdata
            };
            fetch('http://localhost:3000/login/', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                },
                body: JSON.stringify(json),

            }).then(response => {
                return response.json();
            }).then(res => {
                console.log(res.items[0]);
            }).catch(error => {
                console.log(error);
            });
        };
    </script>
</body>

</html>