<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <!-- aws sdk //-->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.720.0.min.js"></script>
    <script src="./javascripts/jsbn.js"></script>
    <script src="./javascripts/jsbn2.js"></script>
    <script src="./javascripts/sjcl.js"></script>
    <script src="./javascripts/aws-cognito-sdk.min.js"></script>
    <script src="./javascripts/amazon-cognito-identity.min.js"></script>
    <script>
        // Amazon Cognito 認証情報プロバイダーを初期化します
        AWS.config.region = 'ap-northeast-1'; // リージョン
        AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'ap-northeast-1:af56baf2-032d-438b-8a41-d0b164e65431',
        });

        // Initialize the Amazon Cognito credentials provider
        AWSCognito.config.region = 'ap-northeast-1'; // Region
        AWSCognito.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'ap-northeast-1:af56baf2-032d-438b-8a41-d0b164e65431'
        });
        var data = {
            UserPoolId: 'ap-northeast-1_2rzkFPWjz',
            ClientId: '5r42t6grvv6m8osclqk60khn9m',
            Paranoia: 7
        };

        var userPool;
        var cognitoUser;
    </script>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Z<span>atta</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="username" id="user"><br>
        <input type="password" placeholder="password" id="password"><br>
        <input type="button" id="login" value="Login">

    </div>
    <div class="signup">
        <input type="button" id="signup" onclick="location.href='/signup'" value="新規登録">
    </div>
    <script>

        document.getElementById("login").onclick = function () {
            const username = document.getElementById("user").value;
            const passdata = document.getElementById("password").value;
            const authenticationData = {
                "Username": username,
                "Password": passdata
            };
            var authenticationDetails = new AWSCognito.CognitoIdentityServiceProvider.AuthenticationDetails(authenticationData);
            userpool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(data);
            var userdata = {
                Username: username,
                Pool: userpool
            };
            cognitoUser = new AWSCognito.CognitoIdentityServiceProvider.CognitoUser(userdata);
            cognitoUser.authenticateUser(authenticationDetails, {
                onSuccess: function (authresult) {
                    const idToken = authresult.getIdToken().getJwtToken(); // IDトークン
                    const accessToken = authresult.getAccessToken().getJwtToken(); // アクセストークン
                    const refreshToken = authresult.getRefreshToken().getToken(); // 更新トークン

                    console.log("idToken : " + idToken);
                    console.log("accessToken : " + accessToken);
                    console.log("refreshToken : " + refreshToken);
                    // サインイン成功の場合、次の画面へ遷移
                    location.href = "/top";
                },
                onFailure: function (err) {
                    alert(err.message);
                },
            });
        };
    </script>
</body>

</html>