<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Z<span>atta</span></div>
    </div>
    <br>
    <div class="signup">
        <p>new user</p>
        <br>
        <input type="text" placeholder="username" id="user"><br>
        <input type="password" placeholder="password" id="password"><br>
        <input type="button" id="signup" value="登録">

    </div>
    <script>

        document.getElementById("signup").onclick = function () {
            const userdata = document.getElementById("user").value;
            const passdata = document.getElementById("password").value;
            const json = {
                "username": userdata,
                "password": passdata
            };
            fetch('http://localhost:3000/signup/', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                },
                body: JSON.stringify(json),

            }).then(response => {
                return response.json();
            }).then(res => {
                console.log(res.items[0]);
            }).catch(error => {
                console.log(error);
            });
        };
    </script>
</body>

</html>