<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

<body>
    <!-- aws sdk //-->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.720.0.min.js"></script>
    <script src="./javascripts/jsbn.js"></script>
    <script src="./javascripts/jsbn2.js"></script>
    <script src="./javascripts/sjcl.js"></script>
    <script src="./javascripts/aws-cognito-sdk.min.js"></script>
    <script src="./javascripts/amazon-cognito-identity.min.js"></script>
    <script>
        // Amazon Cognito 認証情報プロバイダーを初期化します
        AWS.config.region = 'ap-northeast-1'; // リージョン
        AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'ap-northeast-1:af56baf2-032d-438b-8a41-d0b164e65431',
        });

        // Initialize the Amazon Cognito credentials provider
        AWSCognito.config.region = 'ap-northeast-1'; // Region
        AWSCognito.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: 'ap-northeast-1:af56baf2-032d-438b-8a41-d0b164e65431'
        });
        var data = {
            UserPoolId: 'ap-northeast-1_2rzkFPWjz',
            ClientId: '5r42t6grvv6m8osclqk60khn9m',
            Paranoia: 7
        };

        var userPool;
        var cognitoUser;
        var attributeList = []
    </script>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Z<span>atta</span></div>
    </div>
    <br>
    <div class="signup">
        <p>new user</p>
        <br>
        <input type="text" placeholder="Name" id="username"><br>
        <input type="text" placeholder="Email" id="email"><br>
        <input type="password" placeholder="Password" id="password"><br>
        <input type="button" id="signup" value="登録">

    </div>
    <script>

        document.getElementById("signup").onclick = function () {
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const passdata = document.getElementById("password").value;
            if(!username | !email | !passdata){
                alert("Username or Email or Password is null.")
                return false;
            }
            var namedata = {
                Name: "name",
                Value: username
            };
            var attributeName = new AmazonCognitoIdentity.CognitoUserAttribute(namedata);
            attributeList.push(attributeName);
            var userpool = new AmazonCognitoIdentity.CognitoUserPool(data);
            userpool.signUp(email, passdata, attributeList, null, function (err, result) {
                if (err) {
                    alert(err);
                    return;
                } else {
                    // サインアップ成功した場合の挙動
                    console.log("signup success!!")
                    alert("ユーザー登録申請が完了しました。管理人により承認されるまでお待ちください。")
                    // サインイン成功の場合、次の画面へ遷移
                    location.href = "/";
                }
            });
        }

    </script>
</body>

</html>